
@*
    FooterPartial
*@

<div class="footer">
    <div class="copyright">
        <p>Copyright &copy; Designed & Developed by <a href="https://www.linkedin.com/in/merve-arpac%C4%B1o%C4%9Flu-t%C3%BCrk-8b3917199/">Merve Türk</a> 2026</p>
    </div>
</div>