<!DOCTYPE html>
<html lang="en">

 @await Component.InvokeAsync("_LayoutHeadComponent")

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        @await Component.InvokeAsync("_LayoutSpinnerComponent")
        <!-- Spinner End -->

        <!-- Header Start -->
        @await Component.InvokeAsync("_LayoutHeaderComponent")
        <!-- Header End -->
      @RenderBody()  
        
        <!-- Footer Start -->
        @await Component.InvokeAsync("_LayoutFooterComponent")
        <!-- Footer End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    @await Component.InvokeAsync("_LayoutScriptsComponent")
   
</body>

</html>

